node_modules
.next
out
build
coverage

.env
.env*.local
env

.git
.gitignore
.vscode
.agent

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo

Dockerfile
docker-compose*.yml
.dockerignore

docs
README.md
